@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mainBody{
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.table__container{
  width: 100%;
  min-width: 100vh;
  min-height: 80vh;
}

.ant-radio-inner {
  width: 20px;
  height: 20px;

  &::after {
    width: 12px;
    height: 12px;
  }
}

.ant-checkbox-inner {
  width: 20px;
  height: 20px;

  &::after {
    width: 8px;
    height: 12px;
  }
}
.ant-radio,
.ant-checkbox {
  font-size: 20px;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}